body {
    text-align: center;
}

#container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 20px;
    margin: 100px;
}

#chat-box {
    width: 90%;
    margin: -80px auto;
    padding: 10px;
}

#message {
    height: 50px;
    width: 60%;
    font-size: 20px;
}

button {
    height: 50px;
    font-size: 20px;
    color: #168653;
}
